[submodule "scssdk-telemetry"]
	path = scssdk-telemetry
	url = git@github.com:Narwhalsss360/scssdk-telemetry.git
	branch = truckconnect
[submodule "c++/NStreamCom"]
	path = c++/NStreamCom
	url = git@github.com:Narwhalsss360/NStreamCom
	branch = c++
[submodule "C#/NStreamCom"]
	path = "C#/NStreamCom"
	url = git@github.com:Narwhalsss360/NStreamCom
	branch = csharp
[submodule "py/depends/NStreamCom"]
	path = py/depends/NStreamCom
	url = git@github.com:Narwhalsss360/NStreamCom
[submodule "py/depends/npycli"]
	path = py/depends/npycli
	url = git@github.com:Narwhalsss360/npycli
